<div id="login-box-container">

  <section id="logo" class="logo-big">
    <h1><%= twg4 %></h1>
  </section>
  <div id="login-box">
    <section id="content">
      <%= form_for :credentials, url: login_path, id: 'login-form' do |f| %>
        <section class="form-fields">
          <dl>
            <dt><%= f.label :username %></dt>
            <dd><%= f.text_field :username, value: flash[:username], autofocus: flash[:username].blank? %></dd>
          </dl>
          <dl>
            <dt><%= f.label :password %></dt>
            <dd><%= f.password_field :password, autofocus: flash[:username].present? %></dd>
          </dl>
        </section>
        <section class="form-actions">
          <%= f.submit "Log in", class: 'btn btn-default' %>
        </section>
      <% end %>
    </section>
  </div>
</div>
