<% self.title = "Users" %>
<% content_for :context_menu do %>
  <%= link_to_modal_form_for @new_user, modal: {auto_open: @user.present?} %>
<% end %>

<h1 id="users-title">Users</h1>

<table id="users" class="resources-list">
  <thead>
  <tr>
    <th>Display name</th>
    <th>Roles</th>
    <th>Owned albums</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr data-resource-url="<%= user_path(user) %>">
      <td class="resource-name"><%= show_link user, user.display_name %></td>
      <td><%= user.roles_string %></td>
      <td><%= user.owned_albums.count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
