<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @user.display_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Passhash:</strong>
  <%= @user.passhash %>
</p>

<div><%= [edit_link(@user), destroy_button(@user)].compact.join(" | ").html_safe %></div>
