<p id="notice"><%= notice %></p>

<h1>Photo In Albums</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Album</th>
      <th>Display order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_in_albums.each do |photo_in_album| %>
      <tr>
        <td><%= photo_in_album.photo %></td>
        <td><%= photo_in_album.album %></td>
        <td><%= photo_in_album.display_order %></td>
        <td><%= link_to 'Show', photo_in_album %></td>
        <td><%= link_to 'Edit', edit_photo_in_album_path(photo_in_album) %></td>
        <td><%= link_to 'Destroy', photo_in_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo In Album', new_photo_in_album_path %>
