<%= simple_form_for album, validate: true do |f| %>
  <section class="form-fields">
    <%= field_set do %>
      <%= f.input :name %>
      <%= f.association :owner, label_method: :display_name %>
    <% end %>
  </section>

  <hr/>
  <section class="form-actions">
    <%= f.button :submit %>
  </section>
<% end %>
