<% self.title = "Albums" %>
<% content_for :context_menu do %>
  <%= button_to_modal_create_form @new_album, modal: {auto_open: @album.present?} %>
<% end %>

<table id="albums" class="resources-list">
  <thead>
  <tr>
    <th>Album name</th>
    <th>Photos</th>
    <th>Owner</th>
  </tr>
  </thead>

  <tbody>
  <% @albums.each do |album| %>
    <tr data-resource-url="<%= album_path(album) %>">
      <td class="album-name"><%= show_link album, album.name %></td>
      <td><%= album.photos.count %></td>
      <td><%= album.owner.try(:display_name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
