<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.name %></td>
      <td><%= album.owner.try(:display_name) || "- NONE -" %></td>
      <td><%= show_link album %></td>
      <td><%= edit_link album %></td>
      <td><%= destroy_button album %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr/>

<% if can? :new, Album %>
  <section>
    <h1>New Album</h1>
    <%= render 'form', album: @new_album %>
  </section>
<% end %>
