<% self.title = @album.name %>
<% content_for :context_menu do %>
  <div class="btn-group" role="group">
    <div class="btn-group" role="group">
      <button id="manage-album-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= glyphicon 'book' %> Manage album <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="manage-album-btn">
        <li><%= link_to_modal_form_for @edited_album || @album, glyphicon('pencil') + " Edit album", class: "", modal: {auto_open: !!@edited_album, defer_output: true} %></li>
        <li><a href="#"><%= glyphicon 'trash' %> Delete album</a></li>
        <li><%= destroy_button @album, class: 'btn-link' do %>
            <%= glyphicon 'trash', style: 'margin-right: 3px;' %> Delete album
          <% end %></li>
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button id="manage-photos-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= glyphicon 'picture' %> Manage photos <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="manage-photos-btn">
        <li class="dropdown-header">Add photos</li>
        <li><%= add_new_photo_link(@album) %></li>
        <li><%= add_existing_photo_link(@album, @albums_add_photos_from, @albums_add_photos_to) %></li>
        <li class="divider" role="separator"></li>
        <li class="dropdown-header">Remove photos</li>
        <li><a id="remove-photos-mode-link" href=""><%= glyphicon 'remove' %> Remove photos from this album</a></li>
        <li><a id="destroy-photos-mode-link" href=""><%= glyphicon 'trash' %> Delete photos permanently</a></li>
      </ul>
    </div>
  </div>
  <a id="normal-mode-link" class="btn btn-default" href="#">Hide buttons</a>
  <%= deferred_modals -%>
<% end %>

<h1 id="album-title"><%= @album.name %></h1>

<%= paginate @photos %>

<section id="album-content">
  <% for photo in @photos do %>
    <div class="thumbnail-container" style="background-image: url(<%= photo.image_url(:thumbnail) %>);">
      <%= link_to "", [@album, photo] if can? :show, photo %>
      <%= remove_photo_button @album, photo, hidden: true %>
      <%= destroy_button [@album, photo], add_class: 'btn-sm btn-thumbnail destroy-photo-btn', hidden: true %>
      <%= button_tag glyphicon('plus') + "Add photo", type: "button", class: 'btn btn-sm btn-create-bright btn-thumbnail add-photo-btn',
                     'data-photo-id': photo.id, hidden: true %>
    </div>
  <% end %>
</section>
