<p id="notice"><%= notice %></p>

<h1><%= @album.name %></h1>
<% if can? :edit, @album or can? :add_new_photo, @album or can? :add_existing_photo, @album %>
  <div><%= [edit_link(@album), add_new_photo_link(@album), add_existing_photo_link(@album)].compact.join(" | ").html_safe %></div>
<% end %>
<hr/>

<%= paginate @photos %>

<h2>Photos:</h2>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>image</th>
    <th>path</th>
    <th colspan="2">actions</th>
  </tr>
  </thead>
  <tbody>
  <% for photo in @photos do %>
    <tr>
      <td><%= photo.id %></td>
      <td><%= link_to photo_image(photo, :thumbnail), [@album, photo] if can? :show, photo %></td>
      <td><%= link_to photo.image, [@album, photo] if can? :show, photo %></td>
      <td><%= remove_photo_link @album, photo %></td>
      <td><%= destroy_link [@album, photo] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
