<%%= simple_form_for @<%= singular_table_name %>, validate: true do |f| %>
  <%= f.error_notification %>

  <section class="form-fields">
    <%= field_set do %>
      <%- attributes.each do |attribute| -%>
        <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
      <%- end -%>
    <%- end -%>
  </section>

  <hr/>
  <section class="form-actions">
    <%%= f.button :submit %>
  </section>
<%% end %>
