<% self.title = "#{@photo.id} - #{@album.name}" %>
<% content_for :context_menu do %>
  <%= destroy_button [@album, @photo] %>
<% end %>

<div id="photo" data-scroll-snap></div>
<section id="photo-image-container">
  <%= photo_image @photo, :medium %>
</section>

<section id="photo-info-and-ctrl">
  <div id="photo-description" class="photo-description"><%= @photo.description %></div>
  <textarea id="photo-description-textarea" style="display: none;" class="photo-description" data-autogrow></textarea>
  <div id="photo-desc-buttons">
    <div id="photo-desc-spinner" style="display: none;"><%= render 'spinner' %></div>
    <div id="photo-desc-editor-controls">
      <span id="save-desc-btn" style="display: none;" class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span id="cancel-desc-edit-btn" style="display: none;" class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>
    <div id="photo-desc-controls">
      <% if soft_can? :update, [@album, @photo] %>
        <span id="edit-desc-btn" class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <% if @comments.any? %>
        <span id="comment-indicator" class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
  <div id="photo-controls">
    <div class="btn-group" role="group">
      <button class="btn btn-default"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
      <button class="btn btn-default">Next<span style="margin-left: 10px;" class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
    </div>
  </div>
</section>

<hr/>
<h2>Comments:</h2>
<% if can? :show, @photo => Comment %>
  <ul>
    <% for comment in @comments %>
      <li>
        <strong><%= comment.author.try(:display_name) || "- USER DELETED -" %>:</strong> <%= comment.content %><br/>
        <%= edit_link [@album, @photo, comment] %> <%= destroy_button [@album, @photo, comment], data: {confirm: nil} %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :new, @photo => Comment %>
  <h2>Add comment</h2>
  <%= render 'comments/form', comment: @new_comment %>
<% end %>
