<% self.title = "#{@photo.id} - #{@album.name}" %>
<% content_for :head do %>
  <%= tag :link, rel: 'prev', href: prev_photo_path(@album, @photo) if prev_photo_path(@album, @photo) -%>
  <%= tag :link, rel: 'next', href: next_photo_path(@album, @photo) if next_photo_path(@album, @photo) -%>
<% end %>
<% content_for :context_menu do %>
  <%= destroy_button [@album, @photo] %>
<% end %>

<div id="photo" data-scroll-snap></div>
<section id="photo-image-container">
  <%= photo_image @photo, :medium %>
</section>

<section id="photo-info-and-ctrl">
  <div id="photo-description" class="photo-description"><%= @photo.description %></div>
  <textarea id="photo-description-textarea" hidden="hidden" class="photo-description" data-autogrow></textarea>
  <div id="photo-desc-buttons">
    <div id="photo-desc-spinner" hidden="hidden"><%= render 'spinner' %></div>
    <div id="photo-desc-editor-controls">
      <%= glyphicon 'ok', id: 'save-desc-btn', hidden: true %>
      <%= glyphicon 'remove', id: 'cancel-desc-edit-btn', hidden: true %>
    </div>
    <div id="photo-desc-controls">
      <%= glyphicon 'pencil', id: 'edit-desc-btn' if can? :update, @photo %>
      <%= glyphicon 'comment', id: 'comment-indicator' if @comments.any? %>
    </div>
  </div>
  <div id="photo-controls">
    <div class="btn-group" role="group">
      <%= photo_nav_buttons @album, @photo %>
    </div>
  </div>
</section>

<% if can? :show, @photo => Comment %>
  <section id="comments-section">
    <h3>Comments &#8226; <%= @comments.count %></h3>

    <% if can? :new, @photo => Comment %>
      <%= render 'comments/form', comment: @new_comment %>
      <hr/>
    <% end %>

    <section id="comments">
      <% for comment in @comments %>
        <%= render comment %>
      <% end %>
    </section>
  </section>
<% end %>
