<% self.title = "#{@photo.id} - #{@album.name}" %>
<% content_for :context_menu do %>
  <div><%= [edit_link([@album, @photo]), destroy_button([@album, @photo])].compact.join(" | ").html_safe %></div>
<% end %>

<div id="photo"></div>
<section id="photo-image-container">
  <%= photo_image @photo, :medium %>
</section>

<section id="photo-info-and-ctrl">
  <div id="photo-desc">
    <%= @photo.description %>
  </div>
  <div id="photo-controls">
    <div class="btn-group" role="group">
      <button class="btn btn-default"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
      <button class="btn btn-default">Next<span style="margin-left: 10px;" class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
    </div>
  </div>
</section>

<hr/>
<h2>Comments:</h2>
<% if can? :show, @photo => Comment %>
  <ul>
    <% for comment in @photo.comments.accessible_by(current_ability, :show) %>
      <li>
        <strong><%= comment.author.try(:display_name) || "- USER DELETED -" %>:</strong> <%= comment.content %><br/>
        <%= edit_link [@album, @photo, comment] %> <%= destroy_button [@album, @photo, comment], data: {confirm: nil} %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :new, @photo => Comment %>
  <h2>Add comment</h2>
  <%= render 'comments/form', comment: @new_comment %>
<% end %>
