<div><%= [edit_link([@album, @photo]), destroy_button([@album, @photo])].compact.join(" | ").html_safe %></div>

<%= photo_image @photo, :medium %>
<pre><%= "#{photo_image @photo, :medium}" %></pre>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<hr/>
<h2>Comments:</h2>
<% if can? :show, @photo => Comment %>
  <ul>
    <% for comment in @photo.comments.accessible_by(current_ability, :show) %>
      <li>
        <strong><%= comment.author.try(:display_name) || "- USER DELETED -" %>:</strong> <%= comment.content %><br/>
        <%= edit_link [@album, @photo, comment] %> <%= destroy_button [@album, @photo, comment], data: {confirm: nil} %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :new, @photo => Comment %>
  <h2>Add comment</h2>
  <%= render 'comments/form', comment: @new_comment %>
<% end %>
