<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>TWG4</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div>
  <% if logged_in? %>
    Logged in as <strong><%= current_user.display_name %></strong> | <%= destroy_button logout_url, "Log out" %>
  <% end %>
</div>
<hr/>
<%= yield %>
<pre><%= cookies.encrypted[TWG4::Auth::COOKIE_NAME].inspect %></pre>
</body>
</html>
