<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title><%= title ? "#{title} | " : "" %>TWG4</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :head %>
</head>
<body>

<header>
  <%= render 'notifications' %>
  <%= render 'main_header' %>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <%= render 'footer' %>
  <%= render 'demo_footer' %>
</footer>

<%= google_analytics_script_tag %>
</body>
</html>
