<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title><%= title ? "#{title} @ " : "" %>TWG4</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<header>
  <%= render 'notifications' %>
  <%= render 'main_header' %>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <p><%= twg4 %> v<%= TWG4::VERSION %></p>
</footer>

</body>
</html>
