<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>Log in to TWG4</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'common', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<header>
  <%= render 'notifications' %>
</header>

<main>
  <%= yield %>
</main>

<footer>
  <%= render 'demo_footer' %>
</footer>

</body>
</html>
